/* ==========================================================================
   CSS RESET
   ========================================================================== */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
    --color-purple-50: hsl(260, 100%, 95%);
    --color-purple-300: hsl(264, 82%, 80%);
    --color-purple-500: hsl(263, 55%, 52%);
    --color-white: hsl(0, 0%, 100%);
    --color-off-white: hsl(300, 5%, 96%);
    --color-grey-100: hsl(214, 17%, 92%);
    --color-grey-200: hsl(0, 0%, 81%); 
    --color-grey-400: hsl(224, 10%, 45%);
    --color-grey-500: hsl(217, 19%, 35%);
    --color-dark-blue: hsl(219, 29%, 14%);
    --color-black: hsl(0, 0%, 7%);
    --font-h1-semibold: 600 20px/1.2  'Barlow Semi Condensed', sans-serif;
    --font-subtitle-medium: 500 13px/1.1 'Barlow Semi Condensed', sans-serif;
    --font-p1-medium: 500 13px/1.4 'Barlow Semi Condensed', sans-serif;
    --font-p2-medium: 500 13px/1.1 'Barlow Semi Condensed', sans-serif;
    --card-width-mobile: 305px;
    --card-width-desktop-small: 255px;
    --card-width-desktop-large: 540px;
    --spacing-l: 32px;
    --spacing-m: 24px;
    --spacing-s: 16px;
    --spacing-xs: 8px;
    --spacing-xxs: 4px;
    --corner-radius: 8px;
}

.container {
    min-width: 100dvw;
    min-height: 100dvh;
    background-color: var(--color-off-white);
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--spacing-l);
    padding: 35px;
    max-width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: var(--corner-radius);
    box-shadow: 6px 20px 30px rgba(0, 0, 0, 0.2);
    padding: var(--spacing-l);
    gap: var(--spacing-s);
}

.card-header {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-s);
    align-items: center;
}

.profile-image {
    width: 32px;
    height: 32px;
    border: 2px solid hsl(264, 82%, 70%);
    border-radius: 50%;
    object-fit: cover; 
}

.grey img, .white img {
    border: none;
}

.profile-name {
    display: block;
    font: var(--font-subtitle-medium);
    color: var(--card-text-profile-name);
    margin-bottom: var(--spacing-xxs);
}

.profile-badge {
    display: block;
    font: var(--font-p2-medium);
    color: var(--card-text-profile-badge);
}

.purple {
    background-color: var(--color-purple-500);
    --card-text-highlight: var(--color-white);
    --card-text-content: var(--color-purple-50);
    --card-text-profile-name: var(--color-white);
    --card-text-profile-badge: var(--color-purple-50);    
}

.grey {
    background-color: var(--color-grey-500);
    --card-text-highlight: var(--color-white);
    --card-text-content: var(--color-grey-100);
    --card-text-profile-name: var(--color-white);
    --card-text-profile-badge: var(--color-grey-100);
}

.dark-blue {
    background-color: var(--color-dark-blue);
    --card-text-highlight: var(--color-grey-200);
    --card-text-content: var(--color-grey-100);
    --card-text-profile-name: var(--color-white);
    --card-text-profile-badge: var(--color-white);
}

.white {
    background-color: var(--color-white);
    --card-text-highlight: var(--color-grey-500);
    --card-text-content: var(--color-grey-400);
    --card-text-profile-name: var(--color-grey-500);
    --card-text-profile-badge: var(--color-grey-400);
}

.testimonial-highlight {
    font: var(--font-h1-semibold);
    color: var(--card-text-highlight);
    text-wrap: wrap;
}

.testimonial-content {
    display: block;
    font: var(--font-p1-medium);
    color: var(--card-text-content);
}

@media (min-width: 768px) {
    .container {
        padding: 60px;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: var(--spacing-l);
        padding: 0;
        margin-bottom: var(--spacing-l);
    }

    .card {
        height: 100%;
    }

    .cards > :nth-child(1) {
        grid-column: span 2;  
        background-image: url('./images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 60px) 0px;
        background-size: 90px 90px; 
    }

    .cards > :nth-child(4) {
        grid-column: span 2;
    }

    .cards > :nth-child(5) {
        grid-column: span 2;
    }
}

@media (min-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cards {
        grid-template-columns: repeat(4, 255px);
        grid-template-rows: auto;
        gap: var(--spacing-l);
        padding: 0;
        margin-bottom: var(--spacing-l);
    }

    .card {
        height: 100%;
    }

    .cards > :nth-child(1) {
        order: 1;
        grid-column: span 2;   
        background-image: url('./images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 60px) 0px;
        background-size: 90px 90px;
    }

    .cards > :nth-child(2) {
        order: 2;
    }

    .cards > :nth-child(5) {
        order: 3;
        grid-row: span 2;
        grid-column: 4 / 5;
    }

    .cards > :nth-child(3) {
        order: 4;
    }
    
    .cards > :nth-child(4) {
        order: 5;
        grid-column: span 2;
    }
}